{{include "header.html"}}
{{include "navigation.html"}}
    <!--End Main Header -->


    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/bg-page-title.jpg);">
    	<div class="auto-container">
        	<div class="sec-title">
                <h1>About Us</h1>
            </div>
        </div>
    </section>

    <!--Breadcrumb-->
    <div class="breadcrumb-outer">
    	<div class="auto-container">
        	<div class="bread-crumb text-center"><a href="index.html">Home</a> / <a href="about_us.html" class="current">About Us</a></div>
        </div>
    </div>


    <!--About Company-->
    <section class="about-company no-bg">
    	<div class="auto-container">

            <div class="row clearfix">

                <!--Image Column-->
                <div class="column image-column col-md-4 col-sm-6 col-xs-12">
                	<figure class="wow bounceInLeft" data-wow-delay="0ms" data-wow-duration="1500ms"><img src="/paradise_hotel/static/images/about_us.jpg" alt=""></figure>
                </div>

                <!--Content Column-->
                <div class="column content-column col-md-8 col-sm-6 col-xs-12">
                	<div class="title-box">
                        <h3><strong>About</strong> US</h3>
                    </div>

                    <div class="featured-text">Ömer Faruk Demir - 130709003<br>
                      Oğuz Alkan - 130709032
                    </div>
                    <!--<div class="text">
                    	<p>Lorem ipsum dolor sit amet, ad vis dicat essent expetenda, an vel dicit choro animal. Sumo repudiare ei pri. Eius intellegat per te. Quando oportere maiestatis qui ut, quo aeterno definiebas sadipscing ne. Eu fierent tacimates partiendo mea, meis putant vocent qui et, vis ei erroribus similique.Cum saepe disputationi in. Id mentitum perpetua mnesarchum per.</p>
                        <p>Ne vix odio dicit numquam, audiam inermis eu nam. Eius delenit ex cum.Ei esse posse consectetuer cum, mei at quem epicuri, mel no nibh vidisse deserunt. Per veri altera doming ad, summo urbanitas sed cu. </p>
                    </div> -->


                </div>

            </div>

        </div>
    </section>


    <!--Default Section-->

    <section class="default-section no-padd-top">
    	<div class="auto-container">

        	<div class="row outer clearfix">

                <!--Check Column-->
                <div class="column check-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="upper-title">
                        	<div class="icon"><span class="flaticon-check-symbol"></span></div>
                            <strong>Over 30 Years</strong>Over 30 Years
                        </div>
                        <div class="desc-text">Lorem ipsum dolor sit amet, ad vis dicat eut essent expetenda, an vel dicit choro animal. Sumo repudiare ei pri. </div>
                    </div>
                </div>

                <!--Check Column-->
                <div class="column check-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="upper-title">
                        	<div class="icon"><span class="flaticon-check-symbol"></span></div>
                            <strong>Large Community</strong>Over 80k Members
                        </div>
                        <div class="desc-text">Lorem ipsum dolor sit amet, ad vis dicat eut essent expetenda, an vel dicit choro animal. Sumo repudiare ei pri. </div>
                    </div>
                </div>

                <!--Check Column-->
                <div class="column check-column col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="upper-title">
                        	<div class="icon"><span class="flaticon-check-symbol"></span></div>
                            <strong>Anytime 24 Hours</strong>Anytime 24 Hours
                        </div>
                        <div class="desc-text">Lorem ipsum dolor sit amet, ad vis dicat eut essent expetenda, an vel dicit choro animal. Sumo repudiare ei pri. </div>
                    </div>
                </div>

            </div>

        </div>
    </section>



    <!--Sponsors Section
    <section class="sponsors-section no-padd-top">
        <div class="auto-container">
            <div class="slider-outer">-->
                <!--Sponsors Slider
                <ul class="sponsors-slider">
                    <li><a href="#"><img src="images/clients/1.jpg" alt=""></a></li>
                    <li><a href="#"><img src="images/clients/2.jpg" alt=""></a></li>
                    <li><a href="#"><img src="images/clients/3.jpg" alt=""></a></li>
                    <li><a href="#"><img src="images/clients/4.jpg" alt=""></a></li>
                    <li><a href="#"><img src="images/clients/2.jpg" alt=""></a></li>
                </ul>
            </div>

        </div>
    </section>-->


{{include "footer.html"}}
