{{include "header.html"}}
{{include "navigation.html"}}
<section class="property-dimensions" style="background-image:url(images/background/image-1.jpg);">
  <div class="auto-container"style="text-align : center;">
      <!--Sec Title-->
      <div class="sec-title centered" style="text-align : center;">
          <h2><strong>{{=data["name"]}} ({{=data["price"]}})</h2>
              <h2><strong>Score {{=avg}}</h2>
            <h3>{{=data["room_type"]}}</h3>
            <center><img src="{{=data["photo"]}}" height="600" width="800"</center>
            <h4><strong>{{=data["specs"]}}</h4>

            {{if session.user:}}
            <input type='button' value='Reservation' onclick="parent.location='{{=URL('default', 'reservation')}}'">
            <div class="default-form">
                    <div class="row clearfix">
                        <div class="col-md-18 col-sm-18 co-xs-18 form-group">
                            <h2>New Comment</h2>
                            {{=form}}
                              </div>
                            </form>

                            </div>
                            {{pass}}
                               {{include "testimonails.html"}}



        </div>
        </div>

        </div>

</section>

{{include "footer.html"}}
{{pass}}
