<!--Main Footer-->
<footer class="main-footer">
    <!--Footer Bottom-->
  <div class="footer-bottom">
            <!--Copyright-->
            <div class="copyright text-center social-links">
              <a href="#" class="facebook img-circle"><span class="fa fa-facebook-f"></span></a>
              <a href="#" class="twitter img-circle"><span class="fa fa-twitter"></span></a>
              <a href="#" class="google-plus img-circle"><span class="fa fa-google-plus"></span></a>
              <a href="#" class="linkedin img-circle"><span class="fa fa-pinterest-p"></span></a>
              <a href="#" class="linkedin img-circle"><span class="fa fa-instagram"></span></a></div>
            <div class="copyright text-center">Paradise Hotel 2016 &copy; </div>
    </div>

</footer>


</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon flaticon-building"></span></div>


<!--<script src="{{=URL('static','js/jquery.js')}}"></script>
<script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
<script src="{{=URL('static','js/revolution.min.js')}}"></script>
<script src="/paradise_hotel/static/js/jquery.fancybox.pack.js"></script>
<script src="{{=URL('static','js/isotope.js')}}"></script>
<script src="{{=URL('static','js/owl.js')}}"></script>
<!--Locations Map JS-->
<!--<script src="http://maps.google.com/maps/api/js?v=3"></script>
<script src=""{{=URL('static','js/jquery.gmap.js')}}></script>
<script src="/paradise_hotel/static/js/map-script.js"></script>
<!--Locations Map End-->
<!--<script src="/paradise_hotel/static/js/wow.js"></script>
<script src="/paradise_hotel/static/js/script.js"></script>
-->
<script src="/paradise_hotel/static/js/jquery.js"></script>
<script src="/paradise_hotel/static/js/bootstrap.min.js"></script>
<script src="/paradise_hotel/static/js/revolution.min.js"></script>
<script src="/paradise_hotel/static/js/jquery.fancybox.pack.js"></script>
<script src="/paradise_hotel/static/js/isotope.js"></script>
<script src="/paradise_hotel/static/js/owl.js"></script>
<!--Locations Map JS-->
<script src="http://maps.google.com/maps/api/js?v=3"></script>
<script src="/paradise_hotel/static/js/jquery.gmap.js"></script>
<script src="/paradise_hotel/static/js/map-script.js"></script>
<!--Locations Map End-->
<script src="/paradise_hotel/static/js/wow.js"></script>
<script src="/paradise_hotel/static/js/script.js"></script>

</body>
</html>
