
    <!--Map Section-->
    <section class="map-section">
        <!--Map Container-->
        <div class="map-outer">
            <!--Map Canvas-->
            <div class="map-canvas"
                data-zoom="12"
                data-lat="23.814233"
                data-lng="90.410397"
                data-type="roadmap"
                data-hue="#ffc400"
                data-title="Dhaka"
                data-content="Dhaka, Bangladesh<br><a href='mailto:info@youremail.com'>info@youremail.com</a>">
            </div>

            <!--Info Outer-->
            <div class="outer-container">
            	<div class="info-container wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                	<div class="row clearfix">
                    	<!--Info Column-->
                        <div class="info-column col-md-4 col-sm-6 col-xs-12">
                        	<div class="inner-box">
                            	<div class="icon"><span class="flaticon-location-2"></span></div>
                                <h4>Cowraster Mor</h4>
                                <div class="text">Mirpur Road No-11</div>
                            </div>
                        </div>

                        <!--Info Column-->
                        <div class="info-column col-md-4 col-sm-6 col-xs-12">
                        	<div class="inner-box">
                            	<div class="icon"><span class="flaticon-note"></span></div>
                                <h4>Send  Mail </h4>
                                <div class="text">homestate@gmail.com</div>
                            </div>
                        </div>

                        <!--Info Column-->
                        <div class="info-column col-md-4 col-sm-6 col-xs-12">
                        	<div class="inner-box">
                            	<div class="icon"><span class="flaticon-technology-2"></span></div>
                                <h4>Call us</h4>
                                <div class="text">320 4582 100</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
