
    <!--Map Section--><h2 style="text-align:center;">Our Location</h2>
    <section class="map-section">
        <!--Map Container-->
        <div class="map-outer">
            <!--Map Canvas-->
            <div class="map-canvas"
                data-zoom="17"
                data-lat="37.164254"
                data-lng="28.373035"
                data-type="hybrid"
                data-hue="#ffc400"
                >
            </div>

            <!--Info Outer-->
            <div class="outer-container">


                </div>
            </div>

        </div>
    </section>
