
    <!--Nearby Locations-->
    <section class="nearby-locations">
    	<div class="auto-container">
        	<!--Sec Title-->
        	<div class="sec-title centered">
            	<h2><strong>Nearby</strong> Places</h2>
                <div class="desc-text">Lorem ipsum dolor sit amet, ea pro error pertinacia, nam id munere detraxit. Wisi decore discere eum an, autem erant usu eu, per ubique legendos intellegam in. An est melius vivendo. Hinc temporibus nec te, vero consetetur an qui nam.</div>
            </div>

            <div class="row clearfix">
            	<!--Location Block-->
                <div class="location-block col-md-3 col-sm-6 col-xs-12">
                	<div class="inner-box red-theme">
                    	<div class="icon-box"><span class="icon flaticon-book-2"></span></div>
                        <h4>School</h4>
                        <div class="location-title">Badda high school</div>
                        <div class="location-distance">1 km</div>
                    </div>
                </div>

                <!--Location Block-->
                <div class="location-block col-md-3 col-sm-6 col-xs-12">
                	<div class="inner-box green-theme">
                    	<div class="icon-box"><span class="icon flaticon-symbol-3"></span></div>
                        <h4>Golf Club</h4>
                        <div class="location-title">Army golf club</div>
                        <div class="location-distance">2 km</div>
                    </div>
                </div>

                <!--Location Block-->
                <div class="location-block col-md-3 col-sm-6 col-xs-12">
                	<div class="inner-box purple-theme">
                    	<div class="icon-box"><span class="icon flaticon-heart-shape-outline-with-lifeline"></span></div>
                        <h4>Hospital</h4>
                        <div class="location-title">Apollo National hospital</div>
                        <div class="location-distance">4 km</div>
                    </div>
                </div>

                <!--Location Block-->
                <div class="location-block col-md-3 col-sm-6 col-xs-12">
                	<div class="inner-box blue-theme">
                    	<div class="icon-box"><span class="icon flaticon-food-1"></span></div>
                        <h4>Resturent</h4>
                        <div class="location-title">Big kabab Resturent</div>
                        <div class="location-distance">6 km</div>
                    </div>
                </div>

            </div>

        </div>


    </section>
