<!--Blog News Section-->
<section class="blog-news-section">
  <div class="auto-container">

        <div class="sec-title text-center">
            <h2><strong>Latest</strong> News</h2>
            <div class="desc-text">Lorem ipsum dolor sit amet, quodsi perpetua ne sit, duo fugit saperet ut, ne omnium docendi eleifend quo.</div>
        </div>

      <div class="row clearfix">

            <!--News Column-->
            <div class="column blog-news-column col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <article class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                <figure class="image-box">
                      <a href="blog-single.html"><img src="images/resource/blog-image-1.jpg" alt=""></a>
                        <a href="#" class="category">Bedrooms</a>
                    </figure>
                    <div class="content-box">
                      <h3><a href="blog-single.html">Get the best property by our agent</a></h3>
                        <ul class="post-info clearfix">
                            <li>By <a href="#">Rashed Kabir</a></li>
                            <li>On <a href="#">April 5, 2015</a></li>
                        </ul>
                        <div class="text">Lorem ipsum dolor sit amet, habeo porro congueq it cum in, ei duo vide summo. Essent insolens ad vimei posse set reformidans ex qui. Sea ut eius.</div>
                        <a href="blog-single.html" class="theme-btn read-more">READ MORE</a>
                    </div>
                </article>
            </div>

            <!--News Column-->
            <div class="column blog-news-column col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <article class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                <figure class="image-box">
                      <a href="blog-single.html"><img src="images/resource/blog-image-2.jpg" alt=""></a>
                        <a href="#" class="category">Bedrooms</a>
                    </figure>
                    <div class="content-box">
                      <h3><a href="blog-single.html">Get the best property by our agent</a></h3>
                        <ul class="post-info clearfix">
                            <li>By <a href="#">Rashed Kabir</a></li>
                            <li>On <a href="#">April 5, 2015</a></li>
                        </ul>
                        <div class="text">Lorem ipsum dolor sit amet, habeo porro congueq it cum in, ei duo vide summo. Essent insolens ad vimei posse set reformidans ex qui. Sea ut eius.</div>
                        <a href="blog-single.html" class="theme-btn read-more">READ MORE</a>
                    </div>
                </article>
            </div>

            <!--News Column-->
            <div class="column blog-news-column col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <article class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                <figure class="image-box">
                      <a href="blog-single.html"><img src="images/resource/blog-image-3.jpg" alt=""></a>
                        <a href="#" class="category">Bedrooms</a>
                    </figure>
                    <div class="content-box">
                      <h3><a href="blog-single.html">Get the best property by our agent</a></h3>
                        <ul class="post-info clearfix">
                            <li>By <a href="#">Rashed Kabir</a></li>
                            <li>On <a href="#">April 5, 2015</a></li>
                        </ul>
                        <div class="text">Lorem ipsum dolor sit amet, habeo porro congueq it cum in, ei duo vide summo. Essent insolens ad vimei posse set reformidans ex qui. Sea ut eius.</div>
                        <a href="blog-single.html" class="theme-btn read-more">READ MORE</a>
                    </div>
                </article>
            </div>

        </div>
    </div>
</section>
