<!--Main Slider-->
<section class="main-slider">

    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                {{for i in range(1,10):}}
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="/paradise_hotel/static/images/main-slider/{{=i}}.jpg">
                <img src="/paradise_hotel/static/images/main-slider/{{=i}}.jpg">
                </li>

                {{pass}}
            </ul>
        </div>
    </div>
</section>
