<!--Testimonials-->
<section class="testimonials-section" style="background-image:url(images/background/image-2.jpg);">
<div class="auto-container">

        <div class="sec-title centered">
            <h2><strong>Testi</strong>monials</h2>
        </div>

        <!--Slider-->
      <div class="testimonials-slider testimonials-carousel">

            <!--Slide-->
            <article class="slide-item">
                <div class="slide-text">
                    <p>“But I must explain to you the how all this mistaken idea of thealorem qco denouncing pleasure”</p>
                </div>
                <div class="info-box">
                  <figure class="image-box"><img src="images/resource/testi-image-1.jpg" alt=""></figure>
                  <h3>Mark Pine</h3>
                    <p class="designation">Co- Founder at Houzz</p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <div class="slide-text">
                    <p>“But I must explain to you the how all this mistaken idea of thealorem qco denouncing pleasure”</p>
                </div>
                <div class="info-box">
                  <figure class="image-box"><img src="images/resource/testi-image-2.jpg" alt=""></figure>
                  <h3>Mark Pine</h3>
                    <p class="designation">Co- Founder at Houzz</p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <div class="slide-text">
                    <p>“But I must explain to you the how all this mistaken idea of thealorem qco denouncing pleasure”</p>
                </div>
                <div class="info-box">
                  <figure class="image-box"><img src="images/resource/testi-image-3.jpg" alt=""></figure>
                  <h3>Mark Pine</h3>
                    <p class="designation">Co- Founder at Houzz</p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <div class="slide-text">
                    <p>“But I must explain to you the how all this mistaken idea of thealorem qco denouncing pleasure”</p>
                </div>
                <div class="info-box">
                  <figure class="image-box"><img src="images/resource/testi-image-1.jpg" alt=""></figure>
                  <h3>Mark Pine</h3>
                    <p class="designation">Co- Founder at Houzz</p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <div class="slide-text">
                    <p>“But I must explain to you the how all this mistaken idea of thealorem qco denouncing pleasure”</p>
                </div>
                <div class="info-box">
                  <figure class="image-box"><img src="images/resource/testi-image-2.jpg" alt=""></figure>
                  <h3>Mark Pine</h3>
                    <p class="designation">Co- Founder at Houzz</p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <div class="slide-text">
                    <p>“But I must explain to you the how all this mistaken idea of thealorem qco denouncing pleasure”</p>
                </div>
                <div class="info-box">
                  <figure class="image-box"><img src="images/resource/testi-image-3.jpg" alt=""></figure>
                  <h3>Mark Pine</h3>
                    <p class="designation">Co- Founder at Houzz</p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <div class="slide-text">
                    <p>“But I must explain to you the how all this mistaken idea of thealorem qco denouncing pleasure”</p>
                </div>
                <div class="info-box">
                  <figure class="image-box"><img src="images/resource/testi-image-1.jpg" alt=""></figure>
                  <h3>Mark Pine</h3>
                    <p class="designation">Co- Founder at Houzz</p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <div class="slide-text">
                    <p>“But I must explain to you the how all this mistaken idea of thealorem qco denouncing pleasure”</p>
                </div>
                <div class="info-box">
                  <figure class="image-box"><img src="images/resource/testi-image-2.jpg" alt=""></figure>
                  <h3>Mark Pine</h3>
                    <p class="designation">Co- Founder at Houzz</p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <div class="slide-text">
                    <p>“But I must explain to you the how all this mistaken idea of thealorem qco denouncing pleasure”</p>
                </div>
                <div class="info-box">
                  <figure class="image-box"><img src="images/resource/testi-image-3.jpg" alt=""></figure>
                  <h3>Mark Pine</h3>
                    <p class="designation">Co- Founder at Houzz</p>
                </div>
            </article>


        </div>

    </div>
</section>
