<!--Testimonials-->
<section class="testimonials-section" style="background-image:url(images/background/image-2.jpg);">
<div class="auto-container">

        <div class="sec-title centered">
            <h2><strong></strong>Comments</h2>
        </div>

        <!--Slider-->
      <div class="testimonials-slider testimonials-carousel">


            {{for row in rows:}}
            <!--Slide-->
            <article class="slide-item">
                <div class="slide-text">
                    <p>{{=row.Comments}}</p>
                </div>
                <div class="info-box">
                  <h3>{{=row.Username}}</h3>
                </div>
            </article>
            {{pass}}


        </div>

    </div>
</section>
